doctype 5
html
  include ../includes/map-head
  body
    include ../includes/map-header
    block main
    block mapContainer
    .messages
      include ../includes/map-messages
    include ../includes/map-footer
    include ../includes/map-foot
